
body{
	margin: 0;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"futura", sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Bodoni", serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Bodoni", serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}



}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(http://i67.tinypic.com/2zqrgcz.png) no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	background-size: 100%;
	

}

#second{
	background: url(http://i63.tinypic.com/2ypddsm.png) no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-size: 100%;




}

#second .bg{
	background: url(http://i67.tinypic.com/5yhgtx.png) no-repeat fixed;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	background-size: 100%;
		


}

#third{
	background: url(http://i63.tinypic.com/2duatd4.png) no-repeat fixed;
	color: white;
	height: 600px;
	padding: 0;	
	margin: 0 auto;
	background-size: 100%;
	


}

#fifth{
	background: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	background-size: 100%;

}

.story{
	margin: 0 auto;
	overflow: auto;
	padding: ;
}

.story .float-left, .story .float-right{
	padding: 100px;
	position: ;
}

.story_container {
	background-size: 100%;
	padding: 
}

